@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #FD6E0A;
    --title-color:#181818;
    --text-color:#757575;
    --white-background: #fff;
}

body{
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

/*Nav style*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: var(--primary-color);
}

 h3{
    font-size: 45px;
    font-weight: 800;
}

nav >ul{
    display: flex;
    align-items: center;
}

nav li{
    margin-left: 50px;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    padding: 18px 36px;
    color: #fff;
}